## Test window-method declustering

In [1]:
import eqcatalog

In [2]:
def render_html(html):
    from IPython.core.display import display, HTML
    display(HTML(html))

In [31]:
reload(eqcatalog)

In [3]:
cat = eqcatalog.rob.seismodb.query_local_eq_catalog(start_date=2018, end_date=2018)
cat.print_info()

Name: ROB Catalog 2018-01-01 - 2018-12-31
Earthquake number: 66
Start time: 2018-01-01T00:00:00.000
End time :  2018-12-31T00:00:00.000
ML: n=66, min=-0.4, max=3.6
Longitude bounds: -0.3414 / 7.9002
Latitude bounds: 50.1087 / 51.4283
Depth range: 0.0 - 21.5 km

In [32]:
fa_ratio = 0.
dc_method = eqcatalog.declustering.WindowMethod(fa_ratio)
#dc_window_name = 'Uhrhammer1986'
#dc_window_name = 'GardnerKnopoff1974'
dc_window_name = "Gruenthal2009"
dc_window = eqcatalog.declustering.get_window_by_name(dc_window_name)
Mrelation = "default"

Warning: Using the window method for declustering is not recommended!

In [33]:
dc_cat1 = cat.subselect_declustering(dc_method, dc_window, Mrelation)
dc_cat2 = cat.subselect_declustering_legacy("Window", dc_window_name, fa_ratio, Mtype='MW', Mrelation=Mrelation)
print(len(dc_cat1), len(dc_cat2), dc_cat1 == dc_cat2)

True
True
True
True
True
True
True
True
True
True
Warning: Using the window method for declustering is not recommended!
(39, 39, False)

In [24]:
diff_cat = dc_cat1.get_difference(dc_cat2)
render_html(diff_cat.print_list(as_html=True))

In [25]:
render_html(dc_cat2.get_difference(dc_cat1).print_list(as_html=True))

In [26]:
dc_result = dc_method.analyze_clusters(cat, dc_window, Mrelation, verbose=False)
dc_cat1b = dc_result.get_declustered_catalog()
print(len(dc_cat1), dc_result.get_num_independent_events(),  dc_cat1b== dc_cat1)
dc_result.print_info()

(39, 38, False)
Number of clusters identified: 8
Max. cluster length: 14
Num. clustered/unclustered events: 36 / 30
Num. dependent/independent events: 28 / 38

In [27]:
render_html(dc_cat1.get_difference(dc_cat1b).print_list(as_html=True))

In [28]:
render_html(dc_cat1b.get_difference(dc_cat1).print_list(as_html=True))

In [29]:
for cluster in dc_result.get_clusters():
    render_html(cluster.to_catalog().print_list(as_html=True))
    print('')

In [12]:
time_deltas = diff_cat.get_inter_event_times('h')
mags = diff_cat.get_magnitudes('MW', Mrelation)
distances = [diff_cat[0].hypocentral_distance(diff_cat[1]), diff_cat[1].hypocentral_distance(diff_cat[2])]
for td_obs, mag, dist in zip(time_deltas, mags, distances):
    max_td = eqcatalog.time_functions.fractional_time_delta(dc_window.get_time_window(mag), 'h')
    max_dist = dc_window.get_dist_window(mag)
    print(mag, td_obs, max_td, td_obs < max_td, dist, max_dist, dist < max_dist)

(3.143333333333331, 1022.4566666666667, 341.5388888888889, False, 48.586994264277656, 23.558338987013745, False)
(1.5299999999999976, 540.05, 45.79194444444445, False, 16.110565027802622, 14.873528158636354, False)

In [13]:
for eq in diff_cat[:2]:
    print(dc_method.is_in_dist_window(eq, eq.get_MW(Mrelation), diff_cat, dc_window))

[ True False False]
[False  True False]

In [14]:
eq = cat.get_event_by_id(6995)
eq = cat[29]
print(dc_method.is_in_window(eq, eq.get_MW(Mrelation), diff_cat, dc_window))

[False False False]

In [30]:
cat.index(str(6965))

26

In [16]:
render_html(cat.print_list(as_html=True))